{% extends 'base.html' %}
{% load static %}
{% block about %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>

    <h1>Cake menu ✧･ﾟ: *</h1><br><br>

    <div class="container" style="background-color: rgba(255, 198, 208, 0.229); padding: 5%; border-radius: 25px;">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Cake sizes '*•.¸♡ ♡¸.•*'</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>♡ 6 inch 2 layers cake</td>
            <td>𓆩⟡𓆪 serves 4-6 persons</td>
            <td>. *. ⋆ 110-150 SR</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>♡ 8.5 inch 2 layers cake</td>
            <td>𓆩⟡𓆪 serves 6-8 persons</td>
            <td>. *. ⋆ 160-200 SR</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>♡ 10 inch 2 layers cake</td>
            <td>𓆩⟡𓆪 serves 10-8 persons</td>
            <td>. *. ⋆ 210-280 SR</td>
          </tr>
        </tbody>


      
        <thead>
            <tr><td><hr></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
          <tr>
            <th scope="col">Flavors '*•.¸♡ ♡¸.•*'</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>♡ Vanilla</t>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>♡ Chocolate</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>♡ Confetti (Sprinkles)</td>
          </tr>
        </tbody>
      

      
        <thead>
          <tr><td><hr></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
          <tr>
            <th scope="col">Fillings '*•.¸♡ ♡¸.•*'</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>♡ Nutella</td>
            <td>♡ 10-15 SR+</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>♡ Oreo</td>
            <td>♡ 10-15 SR+</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>♡ strawberries</td>
            <td>♡ 10-20 SR+</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>♡ Blurberry Jam</td>
            <td>♡ 10-15 SR+</td>
          </tr>
        </tbody>
      </table><br><hr><br>
    </div><br><br><br>
    <center>
        <div class="container text-center">
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/flowercake.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/pinkcake.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/mothers cake2.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        <div style="padding: 5%;" class="row">
            <div class="col">
              <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
            </div>
            <div class="col-6">
              <figure style="width: 450px; height: 350px;" class="figure">
                  <img src="{% static 'bakery/img/rainbowcake.jpg' %}" class="figure-img img-fluid rounded" alt="...">
              
                </figure>
            </div>
            <div class="col">
              <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
            </div>
          </div>
        </div>

      
    </center>
  <br><br><br>
</body>
</html>

{% endblock %}