{% extends 'base.html' %}
{% load static %}
{% block about %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>

    <h1>COOKIES 𓆩♡𓆪</h1><br><br>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Triple chocolate cookies</h3>
              <p class="card-text mb-auto">milk chocolate - dark chocolate- white chocolate</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 50 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 24 pcs 99 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/tc cookies.jpg' %}"  width="300" height="250" ><title>Triple chocolate cookies</title>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">M&Ms chocolate cookies</h3>
              <p class="card-text mb-auto">M&Ms- chocolate </p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 40 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 24 pcs 85 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/M&Ms cookies.jpg' %}"  width="300" height="250" ><title>M&Ms chocolate cookies</title>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Chocolate cookies</h3>
              <p class="card-text mb-auto">chocolate</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 45 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 24 pcs 90 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/chocolate cookies.jpg' %}"  width="300" height="250" ><title>chocolate cookies</title>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Peanut butter cookies</h3>
              <p class="card-text mb-auto">Peanut butter</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 45 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 24 pcs 90 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/pb cookies.jpg' %}"  width="300" height="250" ><title>Peanut butter cookies</title>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Mix cookies</h3>
              <p class="card-text mb-auto">A package of mixed cookies: Triple chocolate cookies- M&Ms cookies-<br> Chocolate cookies- Peanut butter cookies</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 24 pcs 119 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/sparkles.gif' %}"  width="300" height="250" ><title>Cake</title>
          </div>
        </div>
      </div>
    </div>

    

    
</body>
</html>

{% endblock %}