{% extends 'base.html' %}
{% load static %}
{% block about %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>

    <h1>Korean cake ✧･ﾟ: *</h1><br><br>

    <center>
        <div class="container text-center">
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/korean cake2.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/korean cake.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/korean cake3.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        <div style="padding: 5%;" class="row">
            <div class="col">
              <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
            </div>
            <div class="col-6">
              <figure style="width: 450px; height: 350px;" class="figure">
                  <img src="{% static 'bakery/img/korean cake4.jpg' %}" class="figure-img img-fluid rounded" alt="...">
              
                </figure>
            </div>
            <div class="col">
              <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
            </div>
          </div>
        </div>

      
    </center>
    <br><br><br>

    
</body>
</html>

{% endblock %}