{% extends 'base.html' %}
{% load static %}
{% block about %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>

    <h1>STRAWBERRIES 𓆩♡𓆪</h1><br><br>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Strawberries dipped in white chocolate</h3>
              <p class="card-text mb-auto">Strawberries with white chocolate<br>(you can choose the chocolate color) ꒷♡꒷</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 6 pcs 35 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 70 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/s1.jpg' %}"  width="300" height="250" ><title>Strawberries dipped in white chocolate</title>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2" >
        <div class="col-md-6" style="width: 1500px;">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Strawberries dipped in milk chocolate</h3>
              <p class="card-text mb-auto">Strawberries with milk chocolate<br>(you can choose the decorations color) ꒷♡꒷</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 6 pcs 30 SR</p>
              <p style="color: #cc7f8c;" >. *. ⋆ 12 pcs 60 SR</p>
            </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'bakery/img/s5.jpg' %}"  width="300" height="250" ><title>Strawberries dipped in white chocolate</title>
          </div>
        </div>
      </div>
    </div>

    <center>
        <div class="container text-center">
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/s2.jpg' %}" class="figure-img img-fluid rounded" alt="strawberries dipped in chocolate">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/s3.jpg' %}" class="figure-img img-fluid rounded" alt="strawberries dipped in chocolate">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>

        
            <div style="padding: 5%;" class="row">
              <div class="col">
                <p style="margin-top: 70%; margin-left: 70%;">.·:*¨༺ </p>
              </div>
              <div class="col-6">
                <figure style="width: 450px; height: 350px;" class="figure">
                    <img src="{% static 'bakery/img/s6.jpg' %}" class="figure-img img-fluid rounded" alt="strawberries dipped in chocolate">
                
                  </figure>
              </div>
              <div class="col">
                <p style="margin-top: 70%; margin-right: 70%;">༻¨*:·.</p>
              </div>
            </div>
        <br><br><br>
        </center>

    
</body>
</html>

{% endblock %}